@import "../../styles/variebles.scss";

.schedule {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 20px;
  font-weight: 400;
  color: $black-color;
  border-bottom: 1px solid $soft-bg;
  padding: 40px 20px;

  li {
    background-color: $light-bg;
    padding: 15px;
    border-radius: 40px;
    text-transform: capitalize;
    max-height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      max-width: 35px;
    }

    &:hover {
      background-color: $hover-color;
      transition: 0.3s ease;
    }
  }
}