@import "../../../styles/variebles";
@import "../../../styles/responsive";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45vh;
  color: rgba($white-color, 0.4);
  padding: 30px;
  background-color: rgba(28, 29, 36, 0.8);
  border-style: none;
  border-radius: 5%;

  .authHead {
    display: flex;
    justify-content: center;
    color: $white-color;
  }

  label{
    position:relative;
    height: 1.2em;

    input{
      font-size: 1.2em;
      color: $white-color;
      width: 100%;
      padding: 4px 0;
      position:absolute;
      background-color: transparent;
      border: none;
      border-radius: 0;
      appearance: none;
      outline: transparent;
      border-bottom: 1px solid rgba($white-color, 0.4);
    }

    input ~ span{
      top:0;
      position:absolute;
      transition:top 1s ease;
    }

    input:focus ~ span,input:not(:placeholder-shown) ~ span {
      top:-18px;
    }
  }

  .errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85em;
    color: $red-color;
  }

  .forgotPasswordSpan{
    width: max-content;
    color: rgba($white-color, 0.3);
    cursor: pointer;
    font-size: 0.9em;
  }

  .forgotPasswordSpan:hover{
    transition: .3s ease;
    color: $hover-color;
  }

  .authButton {
    min-width: 100px;
    padding: 4px;
  }

  .authTypeSpan{
    width: max-content;
    margin: 0 auto;
    color: rgba($white-color, 0.3);
    text-decoration: underline;
    cursor: pointer;
  }

  .authTypeSpan:hover{
    transition: .3s ease;
    color: $hover-color;
  }
}