@import "../../../styles/variebles.scss";
@import "../../../styles/responsive.scss";

.movieItem {
  padding: 1%;
  width: 20%;

  .imageContainer {
    width: 100%;
    grid-row: span 2;
    position: relative;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s linear;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .playButton {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      outline: none;
      background: rgba($dark-bg, 0.5);
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      .playIcon {
        width: 25px;
        height: 25px;
        background: rgba($dark-bg, 1);
        margin-left: 15px;
        z-index: 3;
        clip-path: polygon(0 0, 80% 48%, 0 100%, 0% 100%);
      }
    }

    &:hover {
      transition: transform 0.3s linear;
      transform: scale(1.1);

      .playButton{
        opacity: 0.85;
        background: rgba($white-bg, 1);
      }
    }
  }

  //@include lg {
  //  display: flex;
  //  gap: 30px;
  //  width: 100%;
  //}
}