@import "../styles/variebles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $main-bg;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
    color: inherit;
  }

  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }

  button{
    font-size: 1em;
    font-weight: 500;
    background-color: $main-bright-bg;
    border: 0.5px solid black;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    cursor: pointer;

    &:hover {
      transition: .3s ease;
      background-color: rgba($hover-color, .5);
    }
  }

  .btnClose {
    width: max-content;
    margin-left: auto;
    background: none;
    border: none;
    font-family: inherit;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: $white-color;
    &:hover{
      background: none;
      color: $hover-color;
    }
  }
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-bg;
}


.container{
  width: $content-container-width;
  align-self: center;
}

.app-preloader{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
  color: $main-color;
  .logo {
    width: 320px;
    height: 160px;
    fill: $main-color;
    stroke: $main-color;
  }
}