@import-normalize;
@import "../styles/variebles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $main-bg;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $hover-color;
      transition: 0.35s ease;
    }
  }

  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }

  button{
    font-size: 1em;
    font-weight: 500;
    background-color: $main-bright-bg;
    border: 0.5px solid black;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    cursor: pointer;

    &:hover {
      transition: .3s ease;
      background-color: rgba($hover-color, .5);
    }
  }
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-bg;
}

.container{
  width: $container-width;
  align-self: center;
}