@import "../styles/variebles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    background-color: #af3513;
    flex-grow: 1;
  }
}


