// BG
$main-bg: #19072c;
$soft-bg: #303962;
$light-bg: #fff;
$dark-bg: #333;
//colors
$main-color: #ffffff;
$soft-color: #e1dddd;
$active-color: rgba(108, 67, 191, 0.9);
$hover-color: rgba(108, 67, 191, 1);
$dark-color: #333;