@import "../../styles/variebles.scss";

.home {
  background-color: $soft-bg;

  .contentWrapper {
    padding: 25px;
    margin: 0 auto;
    max-width: 1292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-bg;


    //.pageTitle {
    //  padding: 20px;
    //  font-weight: 400;
    //  text-transform: uppercase;
    //  font-size: 36px;
    //  color: $main-color;
    //}
  }
}