@import "../../../styles/variebles";
@import "../../../styles/responsive";

.bookingBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .availableTime {
    padding: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .sessionButton {
        padding: 0.1em 0.5em;
        border-radius: 15px;
        text-transform: capitalize;
        max-height: 35px;
        text-align: center;
        border: 1px solid rgba(255,255,255,.3);
        background: linear-gradient(270deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(90deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(0deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(180deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%);

        &:hover {
          background-color: $hover-color;
          transition: 0.3s ease;
          cursor: pointer;
        }

        &.active {
          transition: .3s ease;
          background-color: $main-color;
        }
      }

      span {
        color: rgba($white-color, .85);
        font-size: 0.8em;
      }
    }
  }

  .movieSchema {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .shortInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.9em;
      color: $white-color;
      gap: 5px;

      .seatsInfo {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5px;

        li{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          div {
            border-radius: 0.25em;
            width: 1em;
            height: 1em;
            &.free {
              background-color: $white-color;
            }
            &.selected {
              background-color: $soft-bg;
            }
            &.booked {
              background-color: $dark-bg;
            }
          }
        }
      }
    }

    .screenSvg{
      padding: 10px 0;
    }

    .selectedInfo {
      padding: 10px 0;
      gap: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8em;

      .selectedTicketGroup {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .selectedTicket {
          background-color: rgba($soft-bg, 0.75);
          color: $white-color;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            transition: 0.35s ease;
            background-color: $hover-color;
          }
        }
      }

      .buttonBuy {
        padding: 2px;
        min-width: 85px;
        min-height: 30px;
      }
    }
  }
}