.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45vh;
  color: rgba(163, 163, 192, 0.4);
  padding: 30px;
  background-color: rgba(28, 29, 36, 0.8);
  border-style: none;
  border-radius: 5%;

  .btnClose {
    width: max-content;
    margin-left: auto;
    background: none;
    border: none;
    font-family: inherit;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  .authHead {
    display: flex;
    justify-content: center;
    color: white;
  }

  label{
    position:relative;
    height: 40px;

    input{
      color: white;
      font-size: 18px;
      width: 100%;
      padding: 4px 0;
      position:absolute;
      background-color: transparent;
      border: none;
      border-radius: 0;
      appearance: none;
      outline: transparent;
      border-bottom: 1px solid rgba(163, 163, 192, 0.4);
    }

    input ~ span{
      top:0;
      position:absolute;
      transition:top 1s ease;
    }

    input:focus ~ span,input:not(:placeholder-shown) ~ span {
      top:-18px;
    }
  }

  .errorAuth {
    color: #af3513;
  }

  .forgotPasswordSpan{
    width: max-content;
    color: rgba(163, 163, 192, 0.5);
    cursor: pointer;
    font-size: 15px;
  }

  .forgotPasswordSpan:hover{
    color: rgba(163, 163, 192, 0.8);
  }

  .authButton {
    min-width: 100px;
    padding: 4px;
  }

  .authTypeSpan{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgba(163, 163, 192, 0.5);
    text-decoration: underline;
    cursor: pointer;
  }

  .authTypeSpan:hover{
    color: rgba(163, 163, 192, 0.8);
  }
}