@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.preLoader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    color: $white-color;
  }
}