@import "../../styles/variebles.scss";

.movieItem {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

  .imageContainer {
    height: 100%;
    flex: 2;
    position: relative;
    overflow: hidden;
    border-radius: 3%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s linear;

      &:hover {
        transform: scale(1.1);
      }
    }

    .playItem {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      padding: inherit;
      position: absolute;
      opacity: 0.85;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .info {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-family: Inter, serif;
    color: $main-color;
    font-weight: 400;

    .movieTitle {
      font-size: 32px;
      font-weight: 500;
    }

    .movieGenre {
      font-size: 20px;
    }

    .cinemaHall {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      padding: 15px 0;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      flex-wrap: wrap;

      li {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        background: $main-color;
        padding: 5px;
        border-radius: 5%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: $black-color;

        span {
          font-size: 14px;
          font-weight: 400;
        }

        &:hover {
          background: $hover-color;
          box-shadow: 0 12px 18px -12px rgba(0, 0, 0, .14);
        }
      }
    }
  }
}


