@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.movieList {
  //padding: 20px 0;
  //display: grid;
  //grid-template-columns: repeat(4, 1fr);
  //grid-auto-rows: minmax(350px, 650px);
  //gap: 50px;

  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;

  @include xxl {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  @include lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}