@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.movieList {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;

  .noSessionsMessage{
    color: $white-color;
    font-size: 1.5em;
  }
}