@import "../../styles/variebles";
@import "../../styles/responsive.scss";

.bookingModule {
  background: $light-bg;
  color: #333;
  border-radius: 12px;
  padding: 25px;

  .buttonsBlock {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .btnClose {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .bookingHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bookingInfo {
      gap: 2px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 14px;

      .bookingTitle {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .bookingBody {
    .availableTime {
      padding: 20px 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .sessionButton {
          background-color: $soft-color;
          padding: 0 10px;
          font-weight: 400;
          font-size: 16px;
          border-radius: 15px;
          text-transform: capitalize;
          max-height: 35px;
          text-align: center;

          &:hover {
            background-color: $hover-color;
            transition: 0.3s ease;
            cursor: pointer;
          }
        }

        .active.sessionButton {
          background-color: $active-color;
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }

  .movieSchema {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid #333;
    border-top: 0.5px solid #333;

    .shortInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      .seatsInfo {
        list-style: none;
        display: flex;
        flex-direction: row;
      }
    }

    .movieScreenImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .seatsSchema {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 0;
        font-size: 13px;
        font-weight: 400;
        color: #333;

        span {
          font-weight: 500;
          font-size: 12px;
        }

        .seat {
          width: 34px;
          height: 34px;
          background-color: rgb(164, 206, 54);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            opacity: 0.6;
            transition: 0.25s ease;
            cursor: pointer;
          }
        }

        .selected.seat {
          background-color: rgba(73, 105, 148, 0.6);
          border: solid 1px black;
        }

        .unavailable.seat {
          background-color: rgba(127, 127, 131, 0.65);
          pointer-events: none;
        }
      }
    }

    .selectedInfo {
      padding: 10px 0;
      gap: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      font-weight: 400;

      .selectedTicketGroup {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .selectedTicket {
          background-color: rgba(181, 160, 222, 0.4);
          border-radius: 5px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 300;
          cursor: pointer;

          &:hover {
            transition: 0.25s ease;
            background-color: rgb(181, 160, 222);
          }
        }
      }

      .buttonBuy {
        padding: 0 10px;
        min-width: 60px;
        background-image: linear-gradient(to left, #4f0ed0, #63c);
        border-radius: 4px;
        line-height: 28px;
        color: #fff;
        text-decoration: none;
        font-family: Inter, serif;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        letter-spacing: normal;
        cursor: pointer;

        &:hover {
          background-image: linear-gradient(to left, #4311ad, #5b31b2);
          transition: 0.35s ease;
        }
      }
    }
  }

  .bookingFooter {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
  }

  @include md {
    .bookingModule {
      font-size: 12px;
      gap: 5px;
      padding: 15px 10px 15px 0;

      .scheduleDay {
        max-height: 30px;

        .buttonsBlock {
          padding: 3px;
        }

        .bookingHeader {
          .bookingInfo {
            gap: 1px;
            font-weight: 300;
            font-size: 11px;

            .bookingTitle {
              font-size: 18px;
              font-weight: 600;
            }
          }
        }

        .bookingBody {
          .availableTime {
            padding: 10px 0;
            gap: 10px;

            li {
              gap: 3px;

              .sessionButton {
                padding: 0 8px;
                font-weight: 400;
                font-size: 12px;
                max-height: 30px;
              }

              span {
                font-size: 10px;
                font-weight: 400;
              }
            }
          }
        }

        .movieSchema {
          .shortInfo {
            font-size: 12px;
          }

          .seatsSchema {
            .row {
              gap: 4px;
              padding: 4px 0;
              font-size: 12px;

              span {
                font-weight: 500;
                font-size: 10px;
              }

              .seat {
                width: 26px;
                height: 26px;
              }
            }
          }

          .selectedInfo {
            padding: 8px 0;
            gap: 8px;
            font-size: 12px;

            .selectedTicketGroup {
              gap: 4px;

              .selectedTicket {
                padding: 4px;
                font-size: 11px;
              }
            }

            .buttonBuy {
              padding: 0 8px;
              min-width: 40px;
              font-size: 11px;
            }
          }
        }

        .bookingFooter {
          font-size: 12px;
        }
      }
    }
  }
}