@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.footer {
  width: $container-width;
  margin: 0 auto;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white-color;
  font-size: 1em;

  a {
    &:hover {
      color: $hover-color;
      transition: 0.35s ease;
    }
  }

  .social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid $soft-bg;
    padding: 2.5% 0;

    .socialItem {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      gap: 20px;

      svg {
        fill:$white-color;
        stroke: $white-color;
        width: 30px;
        height: 30px;

        &:hover{
          fill:$hover-color;
          stroke: $hover-color;
          transition: 0.35s ease;
        }
      }
    }

    .socialItem.right {
      svg{
        fill:$white-color;
        stroke: $white-color;
        width: 135px;
        height: 40px;

        &:hover{
          fill:$hover-color;
          stroke: $hover-color;
          transition: 0.35s ease;
        }
      }
    }
  }

  .contacts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 2.5% 0;

    .contactsItem {
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      flex: 1;
    }
  }

  //@include lg {
  //  font-size: 14px;
  //  flex-direction: row;
  //  flex-wrap: wrap;
  //  justify-content: center;
  //  align-items: center;
  //  padding: 30px 15px;
  //  .contacts {
  //    .contactsItem {
  //      gap: 10px;
  //      width: max-content;
  //      display: flex;
  //      flex-direction: column;
  //      align-items: center;
  //      justify-content: flex-start;
  //
  //      .itemText {
  //        text-align: center;
  //        font-size: 14px;
  //        font-weight: 400;
  //      }
  //    }
  //  }
  //}
  //
  //@include md {
  //  padding: 20px 10px;
  //  font-size: 12px;
  //  .contacts {
  //    .contactsItem {
  //      gap: 8px;
  //
  //      .itemText {
  //        text-align: center;
  //        font-size: 12px;
  //        font-weight: 400;
  //      }
  //    }
  //  }
  //  .social {
  //    padding: 0 0 20px 0;
  //
  //    .socialItem {
  //      padding: 0 15px;
  //      gap: 10px;
  //    }
  //  }
  //}
}