@import "../../../styles/variebles.scss";
@import "../../../styles/responsive.scss";

.sessionCard {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  color: $white-color;

  .movieTitle {
    padding-top: 0.2rem;
  }

  .movieGenre {
    padding: 0.5rem 0 1rem 0;
  }

  .movieSessions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;

    @include xl{
      gap: 0.8rem;
    }

    .sessionDetails {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

        button{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 0.1rem;
          background: linear-gradient(270deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(90deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(0deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%), linear-gradient(180deg, rgba(2,0,36,0) 90%, rgba(255,255,255,0.15) 100%);
          padding: 0.25rem 0.75rem;
          border-radius: 10px;
          border: 1px solid rgba(255,255,255,.3);

          span {
            font-size: 1.1em;
            font-weight: 500;

            &:last-child {
              font-size: 0.9em;
              font-weight: 400;
            }
          }

          &:hover {
            transition: .3s ease;
            background-color: rgba($hover-color, .5);
          }

          @include xl{
            padding: 0.15rem 0.5rem;

            span {
              font-size: 1rem;
              &:last-child {
                font-size: 0.8rem;
              }
            }
          }

          @include lg{
            span {
              font-size: 1.1rem;
              &:last-child {
                font-size: 0.9rem;
              }
            }
          }

          @include md{
            span {
              font-size: 1.2rem;
              &:last-child {
                font-size: 1rem;
              }
            }
          }
        }

      .hallNumber {
        font-size: 0.75em;
        text-transform: uppercase;
      }
    }

    .tomorrowSessions {
      padding: 0.25rem;
    }
  }
}