@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.slider {
  position: relative;
  height: 60vh;

  .slideItem {
    width: 100%;
    height: 100%;
    background-size: cover;
    //transition: all 250ms ease-out 0s;
  }

  .sliderDots {
    position: absolute;
    left: 50%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .sliderDot {
      font-size: 30px;
      color: $main-color;
      cursor: pointer;

      &:hover {
        color: $hover-color;
        transition: 0.3s ease;
      }
    }

    .sliderDot.Active {
      color: $active-color;
      opacity: 1;
    }
  }

  .sliderArrow {
    opacity: 0.65;
    background-color: $light-bg;
    color: $dark-color;
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 40%;

    &:hover {
      background-color: $hover-color;
      transition: 0.3s ease;
    }
  }

  .sliderArrow.left {
    left: 3%
  }

  .sliderArrow.right {
    right: 3%
  }

  @include lg {
    .slideItem {
      width: 100%;
      min-height: 35vh;
      background-size: cover;
      transition: all 250ms ease-out 0s;
    }

    .sliderDots {
      gap: 15px;

      .sliderDot {
        font-size: 15px;
        color: $main-color;
        cursor: pointer;
      }
    }

    .sliderArrow {
      width: 30px;
      height: 30px;
    }
  }

  @include sm {
    min-height: 30vh;
  }
}
