.slider {
  position: relative;

  .slideItem {
    width: 100%;
    min-height: 55vh;
    background-size: cover;
    transition: all 450ms ease-out 0s;
    cursor: pointer;
  }

  .sliderDots {
    position: absolute;
    left: 50%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .sliderDot {
      font-size: 30px;
      color: white;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        transition: 0.3s ease;
      }
    }

    .sliderDot.Active {
      opacity: 1;
    }
  }

  .sliderArrow {
    background-color: rgba(44, 39, 39, 0.5);
    color: white;
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 40%;

    &:hover {
      background-color: rgba(70, 69, 69, 0.9);
      transition: 0.3s ease;
    }
  }

  .sliderArrow.left {
    left: 3%
  }

  .sliderArrow.right {
    right: 3%
  }
}
