@import "../../styles/variebles.scss";
@import "../../styles/responsive.scss";

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  overflow: hidden;

  .sliderContainer{
    height: 100%;
    width: 100%;
    display: flex;
    transition: opacity 0.5s ease;

    .slideItem {
      opacity: 0.9;
      height: 100%;
      width: 100%;
      background-size: cover;
      flex-shrink: 0;
    }
  }

  .sliderArrow {
    padding: 8px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($main-bg, .2);
    backdrop-filter: blur(30px);

    svg{
      fill: rgba($white-bg, .75);
    }

    &.arrowLeft {
      left: calc((100% - $container-width) / 2);
    }

    &.arrowRight {
      right: calc((100% - $container-width) / 2);
    }

    &:hover {
      svg{
        fill: $main-color;
      }
      transition: 0.3s ease;
      background: rgba($main-bg, .5);
    }
  }

  .sliderDots {
    position: absolute;
    left: 50%;
    bottom: 7.5%;
    display: flex;
    gap: 25px;
    transform:translate(-50%, 7.5%);

    .sliderDot {
      cursor: pointer;
      background: rgba($white-bg, .75);
      backdrop-filter: blur(30px);
      width: 0.75em;
      height: 0.75em;
      border: 0.5px solid black;
      border-radius: 50%;

      &.active {
        background-color: $main-color;
      }

      &:hover {
        background-color: $hover-color;
        transition: 0.3s ease;
      }
    }
  }

  //@include lg {
  //  .slideItem {
  //    width: 100%;
  //    min-height: 35vh;
  //    background-size: cover;
  //    transition: all 250ms ease-out 0s;
  //  }
  //
  //  .sliderDots {
  //    gap: 15px;
  //
  //    .sliderDot {
  //      font-size: 15px;
  //      color: $main-color;
  //      cursor: pointer;
  //    }
  //  }
  //
  //  .sliderArrow {
  //    width: 30px;
  //    height: 30px;
  //  }
  //}
  //
  //@include sm {
  //  min-height: 30vh;
  //}
}
